*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
        --black: #000000;
        --white: #ffffff;
        --red:   #ed1c24;
        --green: #28a745;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --secondary: #6c757d;
        --dark: #343a40;
}
html,body{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    background-color: var(--black);
    color: var(--white);
    scroll-behavior: smooth;
    line-height: 1.4;
}
/* Nav-bar Started */
/* Nav-bar Started */
#navbar{
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 3rem 1.5rem;

}
.nav-bar-items a{
    color: var(--white);
    text-decoration: none;
}
.nav-links:hover{
    color: var(--red);
}
.nav-logo img{
    width: 16rem;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}
.nav-bar-items li{
    text-decoration: none;
    color: var(--white);
    font-size: 16.5px;
    font-weight: 700;
    
}
.nav-btn{
    padding: 10px;
    display: flex;
}
.get-a-frenchise-btn1{
    padding: 1.7rem 2rem 1.7rem 2.4rem;
    border-radius: 30px;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid white;
    font-weight: 700;
    font-size: 17px;
}
.get-a-frenchise-btn2{
    padding: 1.7rem 2rem 1.7rem 2.4rem;
    border-radius: 30px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    font-weight: 700;
    font-size: 17px;
    margin: 0 0 0 20px;
}
.get-a-frenchise-btn2:hover{
    background-color: var(--black);
    border: 1px solid white;
}
.get-a-frenchise-btn1 a{
    list-style: none;
    text-decoration: none;
    color: var(--white);
}
.get-a-frenchise-btn1:hover{
    background-color: var(--red);
    color: var(--white);
}
#btn2-arrow{
    font-size: 16px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 2px 5px;
    margin-left: 6px;
}
#hamburger{
    display: none;
}
/* Nav-bar Ended */
/* Nav-bar Ended */


/* Main-Section Started */
/* Main-Section Started */
::-webkit-scrollbar{
    width: 10px;
    background-color: #343a40;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--red);
    border-radius: 10px;
}
#delivery-img img{
    width: 100%;
}
.logo-text{
    font-size: 5.2rem;
    letter-spacing: 1px;
    line-height: 6.2rem;
    color: var(--red);
    font-family: 'Black Ops One', system-ui;
}
.welcome-text{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    line-height: 5rem;
}
#welcome-section-inside p{
    padding-top: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #B3B3B3;
}
#welcome-section-outside{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    text-align: center;
    padding: 5% 3% 10% 3%;
}
.product-brand{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}
#order-img{
    background-color: var(--white);
    border-radius: 5px;
    width: 29rem;
    height: 13rem;
    padding: 11px 18px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
}
.product-brand-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 37px;
    text-align: center;
    padding: 12px 28px 13px 30px;
}
.product-brand-btn a:hover{
    background-color: var(--red);
}
#first-frenchise-main-outside{
    background-color: rgb(255 255 255 / 5%);
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
#first-frenchise-main-outside img{
    position: absolute;
    width: 21%;
    right: 27px;
    top: 29px;
}
.logo-text-2{
    font-size: 5.2rem;
    letter-spacing: 1px;
    line-height: 6.2rem;
    color: var(--white);
    font-family: 'Black Ops One', system-ui;
}
#first-frenchise-1 span{
    font-size: 30px;
}
.first-frenchise-1-para{
    font-size: 13px;
}

/* media Queries */
/* media Queries */


@media (max-width: 1070px) {
    .nav-bar-items a{
        font-size: 14px;
    }
    .nav-logo img{
        width: 19rem;
        padding: 0 20px 0 20px;
    }
}
@media (max-width: 982px) {
    .order-img-3{
        margin-top: 7rem;
    }
}
@media (max-width: 952px) {
    .nav-bar-items a{
        font-size: 12px;
        font-weight: 700;
    }
    #btn2-arrow{
        font-size: 14px;
    }
    
    .welcome-text{
        font-size: 3.2rem;
    }
    .logo-text{
        font-size: 45px;
        display: block;
    }
}
@media (max-width: 880px) {
    .nav-bar-items a{
        font-size: 11px;
        font-weight: 700;
    }
    .nav-logo img{
        width: 18rem;
    }
    .logo-text
}
@media (max-width: 850px) {
    .nav-bar-items .nav-links{
        display: none;
    }
    .get-a-frenchise-btn1{
        display: none;
    }
    #hamburger{
        display: block;
        font-size: 20px;
        padding: 18px 14px 17px;
    }
}
@media (max-width: 650px) {
    .get-a-frenchise-btn2{
        display: none;
    }
    .order-img-1{
        margin-bottom: 60px;
    }
    .logo-text{
        font-size: 40px;
    }
    .welcome-text{
        font-size: 3.2rem;
    }
}
@media (max-width: 405px) {
    #hamburger{
        display: block;
        font-size: 18px;
        padding: 12px 9px 13px 8px;
    }
    .logo-text{
        font-size: 35px;
    }
    .welcome-text{
        font-size: 3rem;
    }
}