*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
        --black: #000000;
        --white: #ffffff;
        --red:   #ed1c24;
        --green: #28a745;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --secondary: #6c757d;
        --dark: #343a40;
}
html,body{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    background-color: var(--black);
    color: var(--white);
    scroll-behavior: smooth;
    line-height: 1.4;
}
/* Nav-bar Started */
/* Nav-bar Started */
#navbar{
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 3rem 1.5rem;

}
.nav-bar-items a{
    color: var(--white);
    text-decoration: none;
}
.nav-links:hover{
    color: var(--red);
    transition: 0.5s ease-in-out;
}
.nav-logo img{
    width: 16rem;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}
.nav-bar-items li{
    text-decoration: none;
    color: var(--white);
    font-size: 16.5px;
    font-weight: 700;
    
}
.nav-btn{
    /* padding: 10px; */
    display: flex;
}
.get-a-frenchise-btn1{
    padding: 1.7rem 2rem 1.7rem 2.4rem;
    border-radius: 30px;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid white;
    font-weight: 700;
    font-size: 17px;
}
.get-a-frenchise-btn2{
    padding: 1.7rem 2rem 1.7rem 2.4rem;
    border-radius: 30px;
    background-color: var(--red);
    color: var(--white);
    border: none;
    font-weight: 700;
    font-size: 17px;
    margin: 0 0 0 20px;
}
.get-a-frenchise-btn2:hover{
    background-color: var(--black);
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}
.get-a-frenchise-btn1 a{
    list-style: none;
    text-decoration: none;
    color: var(--white);
}
.get-a-frenchise-btn1:hover{
    background-color: var(--red);
    color: var(--white);
    transition: 0.5s ease-in-out;
}
#btn2-arrow{
    font-size: 16px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 2px 5px;
    margin-left: 6px;
}
#hamburger{
    display: none;
}
/* Nav Bar Ended */
/* Nav Bar Ended */

/* main section started */
/* main section started */
.intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 110rem;
    margin: 0 auto;
    margin-top: 35px;
    flex-wrap: wrap;
}
.intro-section-text-1{
    font-size: 4rem;
}
.intro-section-text-2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 15px;
    text-align: center;
    color: #a3a3a3;
    font-weight: 700;
    letter-spacing: 0.6px;
}