:root{
    --black: #000000;
    --white: #ffffff;
    --red:   #ed1c24;
    --green: #28a745;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --secondary: #6c757d;
    --dark: #343a40;
}
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Lato', sans-serif;
}
.notextdeco{
    text-decoration: none;
    color: inherit;
}
.listtypenone{
    list-style-type: none;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #343a40;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--red);
    border-radius: 10px;
}
#logo{
    height: 7.5rem;
}
#bar{
    display: none;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0px 2rem 0px;
}
.navbar{
    display: flex;
    gap: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-items{
    display: flex;
    gap: 3rem;
    align-items: center;
}
#buttons{
    display: flex;
    gap: 2rem;
    align-items: baseline;
}
#firstbutton{
    padding: 1.5rem 3rem 1.5rem 3rem;
    border: 1px solid var(--white);
    border-radius: 3.5rem;
}
#secondbutton{
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 1.6rem 2.2rem 1.6rem 2.2rem;
    border-radius: 2.5rem;
}
.secondbutton-arrow{
    background-color: #fff;
    color: #dc3545;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
#firstbutton:hover{
    color: var(--white);
    background-color: var(--red);
    border: none;
}
#secondbutton:hover{
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
}
.hover:hover{
    color: var(--red);
}
.fab{
    font-family: Font Awesome\ 5 Brands;
}
.fa-phone{
    transform: rotate(90deg);
}
.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}
#main{
width: 100%;
}
.container{
    margin-bottom: 5%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.snp-vilage-container{
    background-color: #0f0f0f;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.row2{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.rownew{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.first-row{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.first-row-first-heading{
    text-align: center;
    font-family: 'butler';
    font-style: normal;
    font-size: 4rem;
    line-height: 4.6rem;
    color: #FFFFFF;
}
.first-row-second-heading{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}
.padding-left10{
    padding-left: 10px;
}
.padding-right10{
    padding-right: 10px;
}
.padding-left15{
    padding-left: 15px;
}
.padding-right15{
    padding-right: 15px;
}
.padding-left20{
    padding-left: 20px;
}
.padding-right20{
    padding-right: 20px;
}
.second-row-first-heading{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 3.3rem;
    line-height: 3.8rem;
    color: #FFFFFF;
    display: block;
}
.second-row-main-heading{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.about-us-second-row{
    width: 49%;
    height: 35rem;
    border-radius: 4px;
}
.second-row-side-first{
    font-style: normal;
    font-weight: 400;
    font-size: 3.3rem;
    line-height: 3.9rem;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.second-row-side-second{
    font-family: 'Black Ops One', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 3.3rem;
    line-height: 2.9rem;
    text-align: center;
    color: #FFFFFF;
}
.second-row-side{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.second-row-main{
    display: flex;
    justify-content: space-between;
}
.second-row-side-heading{
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
.padding-right40{
    padding-right: 4rem;
}
.second-row-second-main{
    display: flex;
    justify-content: flex-start;
    column-gap: 4rem;
}
.second-row-first-row{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}
#first-franchise-main{
    gap: 4.5rem;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
#first-franchise-main-new{
    gap: 6rem;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.text-align-center{
    text-align: center;
}
.red{
    color: var(--red);
}
.first-franchise-main-first{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4.5rem;
}
.first-franchise-main-side{
    width: 44%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
}
.first-franchise-main-side-new{
    width: 46.7%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.height331{
    height: 33.1rem;
    width: 50%;
    border-radius: 10px;
}
.first-franchise-main-side-text-one{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.48em;
    color: var(--red);
    margin-bottom: 8px;
    display: block;
}
.first-franchise-main-side-text-two{
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 24px;
    font-weight: 400;
    display: block;
}
.first-franchise-main-side-text-two-a{
    font-weight: 400;
    font-size: 4rem;
    line-height: 2.9rem;
    text-align: center;
    font-family: 'Black Ops One', system-ui;
}
.first-franchise-main-side-text-three{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
.first-franchise-main-side-text-three-new{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
.first-franchise-main-side-text-four{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}
.first-franchise-first-button{
    font-size: 1.4rem;
    padding: 15px 30px 15px 30px;
    border: 1px solid var(--white);
    border-radius: 35px;
}
.first-franchise-first-button:hover{
    color: var(--white);
    background-color: var(--red);
    border: none;
}
.first-frenchise-main2{
    gap: 4.5rem;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.secondbutton-arrow{
    background-color: #fff;
    color: #dc3545;
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
#first-franchise-img-one{
    width: 50%;
    border-radius: 10px;
}
#first-franchise-img-two{
    width: 50%;
    border-radius: 10px;
}
#first-franchise-img-three{
    width: 50%;
    border-radius: 10px;
}
.first-franchise-main-second{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4.5rem;
}
.first-franchise-main-second-new{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3.5rem;
}
#second-franchise-outside{
    background-color: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
#welcome-main{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
#welcome-text{
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    line-height: 3.9rem;
}
.logo-text{
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 3rem;
    color: var(--red);
    font-family: 'Black Ops One', system-ui;
}
#second-franchise-main{
    z-index: 5;
    gap: 4.5rem;
    flex-direction: column;
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.second-franchise-main-side-text-one{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.48em;
    color: var(--red);
    margin-bottom: 8px;
    display: block;
}
.second-franchise-main-first-a{
    border-radius: 10px;
    padding: 9px;
    background-color: rgb(15 15 15);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
#second-franchise-main-first{
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3.9rem;
    display: flex;
    justify-content: space-between;
}
.second-franchise-one{
    height: 25rem;
    width: 35rem;
}
.second-franchise-main-side-text-two{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 18px;
    display: block;
}
.second-franchise-main-side-text-two-a{
    font-family: 'Black Ops One', system-ui;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
}
.second-franchise-main-side-text-three{
    margin: 0 auto;
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 12px;
}
.second-franchise-main-side-text-four{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 12px;
}
#phone-icon{
    transform: rotate(4deg);
}
.width-35-rem{
    width: 35rem;
}
.div-2{
    margin-top: 30px;
}
.item8-btn{
    font-size: 14px;
    padding: 15px 30px 15px 30px;
    border-radius: 35px;
    background-color: var(--green);
    text-decoration: none;
    color: white;
}
.arrow-one{
    padding: 2px 7px;
    border: 1px solid white;
    border-radius: 30px;
    background: white;
    color: var(--green);
}
.item8-btn:hover{
    background-color: black;
    border: 2px solid var(--white);
    transition: 0.5s ease-in-out;
}
#promotion-section{
    padding-top: 12rem;
    padding-bottom: 5rem;
}
#promotion-section-head{
    padding-bottom: 3.5rem;
}
#promotion-section-main{
    gap: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
#promotion-section-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 15px;
}
#promotion-section-side-text-one{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.48em;
    color: #ED1C24;
    margin-bottom: 8px;
    display: block;
}
#promotion-section-side-text-two{
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: #FFFFFF;
    margin-bottom: 24px;
    display: block;
}
#promotion-section-side-text-two-a{
    font-family: 'Black Ops One', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 2.9rem;
    text-align: center;
    color: #FFFFFF;
}
#promotion-section-side-text-three{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
#promotion-section-side-text-four{
    font-family: 'Lato' , sans-serif ;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}
#promotion-section-first-button{
    font-size: 1.4rem;
    padding: 15px 30px 15px 30px;
    border-radius: 35px;
    background-color: var(--green);
}
#promotion-section-first-button:hover{
    color: var(--white);
    background-color: var(--red);
    border: none;
    border: 1px solid var(--white);
}
#promotion-section-first-button-arrow{
    background-color: #fff;
    color: var(--green);
    padding: 6px 7px;
    border-radius: 23px;
    margin-left: 7px;
}
#promotion-section-first-button-arrow:hover{
    color: #dc3545;
}
#page-bottom{
    background-color: #0f0f0f;
    width: 100%;
    position: relative;
}
#large-s-black{
    height: 33rem;
    position: absolute;
    bottom: 0rem;
    left: -4rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 4% 0 3% 0;
}
#logo-footer{
    width: fit-content;
    height: 7.5rem;
}
#para-footer{
    font-family: 'Lato' , sans-serif ;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.03em;
}
#logo-side{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.pr-5{
    padding-right: 10px;
}
.site-links-top{
    font-family: 'Lato' , sans-serif ;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgb(255, 255, 255);
    text-align: left;
}
.site-links-top:hover{
    color: var(--red);
}
.site-links{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.site-links-2{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.noliststyle{
    list-style-type: none;
}
.d-flex-footer{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.footerlinks1{
    font-family: 'Lato' , sans-serif ;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(255, 255, 255,0.6);
}
.footerlinks1:hover{
    color: var(--white);
}
.footer-social-media-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.1rem;
    height: 4.1rem;
    background: #ED1C24;
    color: #fff;
    border-radius: 5.1rem;
}
.footer-social-media{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-social-media-links-i{
    color: #ffffff;
    font-size: 1.7rem;
}
.fab{
    font-family: Font Awesome\ 5 Brands;
    }
.block{
    display: block;
}
.follow-us{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.copyright-section{
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}
.copyright-section-left-text-one{
    font-family: 'Lato' , sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}
.copyright-section-left-text-two{
    font-family: 'Lato' , sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}
















@media(max-width:1456px){
    #second-franchise-main{
        width: 83%;
    }
    /* #first-franchise-main{
        width: 80%;
    } */
}
@media(max-width:1400px){
    #second-franchise-main{
        width: 85%;
    }
    /* #first-franchise-main{
        width: 80%;
    } */
}
/* @media(min-width:1401px){
    #first-franchise-main{
        width: 75%;
    }
} */
/* @media(min-width:1520px){
    #first-franchise-main{
        width: 71.5%;
    }
} */
@media(max-width:1250px){
    #first-franchise-img-two{
        order: 2;
    }
    #first-franchise-main-second {
        justify-content: space-between;
    }
}

@media(max-width:1550px){
    html{
        font-size: 62.5%;
    }
    #promotion-section-img{
        width: 67.65rem;
        height: 39.48rem;
    }
}
@media(max-width:1500px){
    html{
        font-size: 61.5%;
    }
}
@media(max-width:1450px){
    html{
        font-size: 60.5%;
    }
}
@media(max-width:1400px){
    html{
        font-size: 59.5%;
    }
}
@media(max-width:1350px){
    html{
        font-size: 58.5%;
    }
}
@media(max-width:1300px){
    html{
        font-size: 58%;
    }
}
@media(max-width:1287px){
    html{
        font-size: 58%;
    }
    #second-franchise-main-first{
        row-gap: 5.9rem;
    }
}
@media(max-width:1250px){
    html{
        font-size: 57%;
    }
}
@media(max-width:1200px){
    html{
        font-size: 56%;
    }
}
@media(max-width:1150px){
    html{
        font-size: 55%;
    }
}
@media(max-width:1130px){
    html{
        font-size: 55%;
    }
    #promotion-section-img{
        width: 77.65rem;
        height: 44.48rem;
        margin: 0 auto;
    }
    #promotion-section-side{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 15px;
        width: 60%;
        margin: 0 auto;
    }
    #promotion-section-side-main{
        text-align: center;
    }
}

@media(max-width:1100px){
    html{
        font-size: 54%;
    }
}
@media(max-width:950px){
    html{
        font-size: 50%;
    }
    #first-franchise-img-one{
        width: 70%;
        margin: 0 auto;
    }
    .height331{
        width: 70%;
        margin: 0 auto;
    }
    #first-franchise-img-two{
        width: 70%;
        margin: 0 auto;
    }
    #first-franchise-img-three{
        width: 70%;
        margin: 0 auto;
    }
    .first-franchise-main-side{
        margin: 0 auto;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .first-franchise-main-side-new{
        margin: 0 auto;
        align-items: center;
        text-align: center;
        width: 90%;
    }
}
@media(max-width:800px){
    html{
        font-size: 45%;
    }
    #first-franchise-img-one{
        width: 75%;
        margin: 0 auto;
    }
    #first-franchise-img-two{
        width: 75%;
        margin: 0 auto;
    }
    #first-franchise-img-three{
        width: 75%;
        margin: 0 auto;
    }
    .franchise-express-one{
        height: 25rem;
        width: 40%;
    }
    #logo-side{
        width: 100%;
    }
    .footerlinks1{
        align-items: center;
        text-decoration: none;
        flex-direction: column;
    }
}
@media(max-width:700px){
    .follow-us{
        width: 50%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .footer-social-media {
        justify-content: center;
        gap: 10px;
    }
    .footer-images {
        align-items: center;
    }
    .footer{
        row-gap: 30px;
    }
    #logo-side{
        width: 100%;
    }
    .footerlinks1{
        align-items: center;
        text-decoration: none;
        flex-direction: column;
    }
}
@media(max-width:665px){
    #second-franchise-main-first {
        justify-content: center;
    }
    #bar{
        display: block;
        font-size: 2.5rem;
    }
    #firstbutton{
        display: none;
    }
    .navbar-items{
        display: none;
    }
    #header{
        margin: 0 auto;
        width: 92%;
        justify-content: space-between;
    }
    #buttons{
        align-items: center;
    }
    .footer{
        flex-direction: column;
        font-size: 16px;
        text-align: center;
        padding-right: 0px;
    }
    .site-links{
        width: 100%;
    }
    .site-links-2{
        width: 100%;
    }
    .site-links-top{
        text-align: center;
    }
}
@media(max-width:600px){
    html{
        font-size: 40%;
    }
    #first-franchise-img-one{
        width: 80%;
        margin: 0 auto;
    }
    #first-franchise-img-two{
        width: 80%;
        margin: 0 auto;
    }
    #first-franchise-img-three{
        width: 80%;
        margin: 0 auto;
    }
    .franchise-express-one{
        height: 25rem;
        width: 60%;
    }
    #franchise-express-section-main-in {
        justify-content: center;
    }
}
@media(max-width:510px){
    #promotion-section-img{
        width: 90%;
        margin: 0 auto;
    }
}
@media(min-width:1323px){
    .first-franchise-main-side-new{
        width: 46.7%;
    }
    .first-franchise-main-second-new{
        gap: 3.5rem;
    }
}
@media(min-width:951px){
    .first-franchise-main-side-new{
        width: 44.7%;
    }
    .first-franchise-main-second-new{
        gap: 3rem;
    }
}